* {
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	margin: 0;
	padding: 1rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(20, 20, 20, 1);
	background-color: #1f2029;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
}

/* Estilo para las imágenes */
/* Estilo para las imágenes */
img {
    max-width: 100%; /* Limita el ancho de las imágenes al ancho del contenedor */
    display: block;
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    aspect-ratio: 1 / 1;
    object-fit: contain;
    transition: transform 1000ms;
}



ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: rgb(0, 0, 255);
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
	opacity: 1;
}

a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	a:is(:hover, :focus) figure::after {
		transform: scale(1.1);
	}

	a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	a:is(:hover, :focus) img {
		transform: scale(1.05);
	}
}

/* Estilo para el título h1 */
h1 {
    text-align: center; /* Centrar el texto */
    font-size: 2em; /* Tamaño de fuente */
    margin-top: 20px; /* Espacio superior para separarlo de la lista */
	color: #fffffff2; /* Color de texto (cambia #333 al color que desees) */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    text-shadow: 2px 2px 4px rgba(188, 188, 188, 0.881); /* Sombra de texto */
	position: absolute; /* Cambiamos la posición a absoluta */
    top: 25px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 130px; /* Ajusta la distancia desde la derecha según tus necesidades */
}

/* Estilo para el botón "Volver al Menú Principal" */
.volver-btn {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según sea necesario */
    right: 10px; /* Ajusta la distancia desde la derecha según sea necesario */
    padding: 10px 20px;
    background-color: #87CEEB; /* Color de fondo del botón */
    color: #333; /* Color del texto del botón */
    text-decoration: none;
	font-size: 10px; /* Tamaño de la letra */
}

/* Estilo para el título h2 */
h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    color: #fffffff2; /* Color de texto (cambia #333 al color que desees) */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    text-shadow: 2px 2px 4px rgba(188, 188, 188, 0.881); /* Sombra de texto */
    text-decoration: none; /* Elimina la línea de subrayado */
}

li {
    margin-top: 2.5cm; /* Agrega el margen superior deseado (5 cm en este caso) */
}
